*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
}
button{
    padding: 3vh;
    border-radius: 20px;
    box-shadow: 0px 0px 8px white;
    border: none;
    background-color: white;
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
    border-top: 3px solid white;
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    border-radius: 20px;
    width: 40vw;
    overflow: hidden;
}
#display{
    width: 90%;
    padding: 1vh;
    margin: 3vh;
    border-radius: 10px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: #726d6d;
    color: black;
}
button:hover{
    background-color: #726d6d;
}
button:active{
    background-color: #726d6d;
}
.operators{
    background-color: orange;
}
.operators:hover{
    background-color: rgb(48, 43, 48);
}
.operators:active{
    background-color: rgb(44, 41, 44);
}
.clear{
    background-color: orange;
    
}

@media(max-width: 768px){
    #calculator{
        width: 80vw;
    }
    button{
        padding: 2vh;
    }
    #keys{
        padding: 15px;  
    }
    #calculator{
        width: 60vw;
       
    }
    #display{
        font-size: 3rem;
    }
}
@media(max-width: 480px){
    #calculator{
        width: 80vw;
    }
    button{
        padding: 2.5vh 0.8vh;
        font-size: 2rem;
    }
    #keys{
        padding: 10px;  
    }
    #display{
        font-size: 2.5rem;
    }
}
@media(max-width: 400px){
    #calculator{
        width: 90vw;
    }
    button{
        padding: 3vh 0.3vh;
        font-size: 1.5rem;
    }
    #keys{
        padding: 10px;  
    }
    #display{
        font-size: 2rem;
    }
}
@media(max-width: 360px){
    #calculator{
        width: 90vw;
    }
    button{
        padding: 3vh 0.3vh;
        font-size: 1.5rem;
    }
    #keys{
        padding: 10px;  
    }
    #display{
        font-size: 2rem;
        padding: 2vh;
    }
}

/* @media(max-width: 480px){
    button{
        width: 70px;
        height: 70px;
        font-size: 2rem;
    }
    html{
        font-size: 14px;
    }
    #display{
        font-size: 4rem;
    }
    #keys{
        padding: 10px;  
    }
}
@media(max-width: 400px){
    button{
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }
    html{
        font-size: 12px;
    }
    #display{
        font-size: 3rem;
    }
} */