*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    margin: 5vh;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
    width: 15vh;
    height: 15vh;
    border: none;
    background-color: blue;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    border-radius: 20px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 4vh;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: black;
    border-bottom: 3px solid blue;
    color: white;
}
button:hover{
    background-color: #6a6aff;
}
button:active{
    background-color: lightblue;
}
.operators{
    background-color: magenta;
}
.operators:hover{
    background-color: rgb(247, 132, 247);
}
.operators:active{
    background-color: rgb(228, 51, 228);
}


@media(max-width: 450px){
    button{
        width: 50px;
        height: 50px;
        font-size: 2rem;
    }
    #display{
        font-size: 4rem;
    }
}